<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303154813617-le1mq1nvdsoqr596nbjcs3h39fbhr4i3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303154813617-le1mq1nvdsoqr596nbjcs3h39fbhr4i3</string>
	<key>API_KEY</key>
	<string>AIzaSyAkt4SNaU2ijkndfo4yW7ba1OGWf9-iXU0</string>
	<key>GCM_SENDER_ID</key>
	<string>303154813617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetoFinal</string>
	<key>PROJECT_ID</key>
	<string>projetofinal-8a819</string>
	<key>STORAGE_BUCKET</key>
	<string>projetofinal-8a819.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303154813617:ios:332db8a1043e184d276090</string>
</dict>
</plist>